.avatar {
    background-image: url("./img/avatars/torontominimetro.png");
    filter: contrast(100%);
}

.dark {
    filter: brightness(80%);
}

.page-footer {
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-footer .social-icons {
    margin-top: 0px;
}

.email {
    margin-top: 16px;
    margin-bottom: 0;
}
.email a {
    font-size: 12px;
    color: #7e8085;
}